$purple-1:#1a0e22;
$purple-2:#221c3d66;
$purple-3:#272145;
$purple-4:#2c254f;
$purple-5:#473f8c;

$blue-1:#211a5e;

$grey-1:#343a4099;
$grey-2:#343a40;
$grey-3:#cfcfcfcc;
$grey-4:#ffffff99;
$grey-5:#a0aec0;
$grey-6:#d3cce3;
$grey-7:#e9e4f0;

$black-1:#0000004d;
$black-2:#0000001a;

$red-1:#be001b;

$white:#fff;