@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;

.navigation {
  width: 15.8%;
  min-height: 100%;
  .container {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    border-radius: 1.25rem;
    .logo {
      padding-top: 0.625rem;
      .img {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $justify: center
        );
        img {
          width: 50px;
          height: 50px;
        }
      }
      .line {
        width: 100%;
        height: 1px;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
      }
    }
    .content {
      .head {
        padding: 1.125rem 1rem 0.75rem;
        font-size: 1rem;
        font-family: "Kufi-bold";
      }
      .body {
        @include flex-variant(
          flex,
          $direction: column,
          $justify: center,
          $gap: 1.5rem
        );
        button {
          padding: 0.75rem 1rem;
          border-radius: 0.5rem;
          border: none;
          outline: none;
          .text {
            @include flex-variant(
              flex,
              $direction: row,
              $align: center,
              $gap: 0.75rem
            );
            span {
              font-size: 1rem;
            }
            p {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}
