@font-face {
  font-family: Kufi-Light;
  src: url("../assets/fonts/NotoKufiArabic-Light.ttf");
}

@font-face {
  font-family: Kufi-Regular;
  src: url("../assets/fonts/NotoKufiArabic-Regular.ttf");
}

@font-face {
  font-family: Kufi-Medium;
  src: url("../assets/fonts/NotoKufiArabic-Medium.ttf");
}

@font-face {
  font-family: Kufi-Bold;
  src: url("../assets/fonts/NotoKufiArabic-Bold.ttf");
}
